:root {
	--primary-background: rgb(200, 200, 200);
	--secondary-background: rgb(180, 180, 180);
	--tertiary-background: rgba(255, 255, 255, 0.5);
	--primary-accent: rgb(85, 130, 255);
	--primary-accent-hover: rgb(85, 130, 255);
	--primary-color: rgb(20, 20, 20);
	--secondary-color: rgb(60, 60, 60);
	--primary-shadow: rgb(80, 80, 80);
	--a-visited: rgb(249, 81, 255);

	
	/** nav bar**/
	--primary-navbar: rgba(30, 30, 30, 0.5);
	--secondary-navbar: rgb(50, 50, 50);
	--primary-navbar-color: rgb(255, 255, 255);
	--secondary-navbar-color: rgb(220, 220, 220);
	
	/* header */
	--header-text-shadow: rgb(120, 120, 120);

	/** Cover Photo **/
	--primary-cover-color: rgb(255, 255, 255);
	--secondary-cover-color: rgb(200, 200, 200);



	/* scrollbar */
	--scrollbar-track: var(--primary-color);
	--scrollbar-thumb: var(--primary-accent);
	--scrollbar-thumb-hover: var(--primary-accent-hover);
}
