* {
	padding: 0;
	margin: 0;
	outline: none;
	font-family: "Noto Sans", sans-serif;
	background-size: cover;
	transition: 0.2s ease-out padding, transform;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}
img {
	-webkit-user-drag: none;
}
/** Nav bar **/
nav.bar {
	backdrop-filter: blur(5px);
	width: 100vw;
	max-width: 100%;
	min-height: 50px;
	height: 6vh;
	position: fixed;
	max-height: 100px;
	background: var(--primary-navbar);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 999;
}
nav.group {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

a.element#contact {
	border-radius: 0 0 22px 0;
}

a.element#programming {
	border-radius: 0 0 0 22px;
}

a.element {
	color: var(--primary-navbar-color);
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	text-overflow: ellipses;
	/** user select **/
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-size: 1em;
	text-decoration: none;	
}
a.element:hover {
	color: var(--secondary-navbar-color);
	backdrop-filter: brightness(0.5);
	padding-top: 5px;
	cursor: pointer;
}
a.element:active {
	color: var(--primary-accent);
	filter: brightness(1.1);
	transition: 0.1s;
}
a.element#home {
	float: right;
}
.cover {
	position: relative;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	background: rgb(40, 42, 54); /* Fallback color */
}
.background {
	height: 100vh;
	position: relative;
	z-index: 0;
}
.foreground {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}
.header-container {
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 1;
}
.header {
	color: var(--primary-accent);
	text-align: center;
	width: auto;
	font-size: 72px;
}
#bht {
	margin-top: 40px;
}
.website-header {
	font-size: 128px;
	text-shadow: -2px 2px 0 var(--header-text-shadow);
}
#hello {
	padding-top: 20vh;
	animation: zoom-in 2s ease-in-out;
}
@keyframes zoom-in {
	from {
		transform: scale(0.85) translateY(-100px);
		opacity: 0;
		filter: blur(2px);
	}
}

.sub-header {
	width: auto;
	animation: zoom-in 2s ease-in-out;
	font-size: 52px;
	color: var(--secondary-cover-color);
	text-align: center;
}
.test {
	height: 1000px;
}
.container {
	background: rgb(235, 235, 235);
	border-radius: 24px;
	width: 350px;
	float: right;
	margin-right: 5vw;
	backdrop-filter: blur(10px);
	position: absolute;
	right: 20px;
	bottom: 20px;
	box-shadow: -2px 2px 5px var(--primary-shadow);
}
.container-header {
	color: var(--primary-accent);
	font-size: 24px;
	padding: 20px;
	backdrop-filter: brightness(0.9);
	border-bottom: 2px solid var(--primary-accent);
}

.container-paragraph {
	padding: 20px;
	text-indent: 20px;
	color: var(--secondary-color);
	line-height: 30px;
}
.glance {
	position: relative;
	background: rgb(20, 20, 20);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.hyperlink {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}
a:not(.element):visited {
	color: var(--a-visited);
}
.logo {
	position: absolute;
	bottom: 20px;
	right: 50px;
}
#passvault-main {
	position: relative;
}
#passvault-cog {
	position: absolute;
	top: 20px;
	right: 20%;
	animation: rotate 1s ease-out infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.image {
	align-self: center;
	width: 80%;
	margin: 10px;
	border-radius: 10px;
}
.contact-me {
	min-height: 100px;
	background: rgb(20, 20, 20);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.socials,
.resume {
	color: rgb(235, 235, 235);
	margin: 20px;
}
.social {
	margin: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.icon {
	height: 50px;
	margin: 10px;
	border-radius: 10px;
}
#bob-saggat {
	width: 200px;
}